<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUI.Properties.Settings.DBEmpresaFariasConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=DBEmpresaFarias;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GUI.Properties.Settings.StringDBEmpresaFarias" connectionString="Data Source=OBSCURUS-PC\SQLEXPRESS;Initial Catalog=DBEmpresaFarias;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>